@import "tailwindcss";
@font-face {
  font-family: 'Gothic';
  src: url('assets/Special.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

:root{
  --titulo: 30px;
  --animation-color: rgb(92, 179, 164);
  --texto:24px;
  --headertext: 20px;
  --textoXL: 40px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Haffer, sans-serif;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #575757;
}

body {
  
  width: 100%;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;


  color: black;
  background-color: rgb(174, 185, 176);

  transition: all 0.3s ease-in-out;
}

#root{
  width: max(1000px, 50vw);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #b4b4b4;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.row{
  display: flex;
  flex-direction: row;
}

.column{
  display: flex;
  flex-direction: column;
}

.center{
  justify-content: center;
  align-items: center;
}

/*****************************
********** HEADER      ******
*****************************/

.header{
  width: 100%;
  margin-bottom: auto;
  height: 10vh;
  border-bottom: 1px solid grey;
  font-size: var(--headertext);

  display: flex;
  align-items: center;
  justify-content: center;
}
.logo{
  margin-right: auto;
}

.navBar{
  display: flex;
  align-items: center;
  gap: 2vh;
}

/*****************************
********** CONTENT      ******
*****************************/

.content{
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


/*****************************
********** HOME      ******
*****************************/
.home{
  height: 99vh;
  width: 100%;
}
.homeText{
  
  width: 30%;
  
  font-size: var(--headertext);
  font-weight: 100;
  text-align: end;
}

.left{
  width: 20%;
  font-weight:500;
  font-size: var(--titulo);
  text-align: start;
  margin-right: auto; 
}
.tituloHome{
  background-image: url('assets/parallax.jpg');
  
  font-size: 15rem;
  color: transparent;
  background-clip: text;
  background-size: 60%;
  font-weight: bolder;
  background-position: center;
  background-repeat: no-repeat;

  background-attachment: fixed;
}

/*****************************
********** ABOUT      ******
*****************************/

.about{
  position: relative; 
  height: 100vh;
  width: 100%;
  background-color: transparent;
}

.aboutTitle{
  text-align: start;
  font-size: var(--titulo);
  padding: 5vh 0vh;

  scale: .99; opacity: 0; transform: translateY(-50px);
  transition: all .5s ease-out 1s;
}

.aboutTitle.show{
  transform: translateY(0px);
  scale: 1;
  opacity: 1;
}



.aboutText {
  scale: .99; opacity: 0; transform: translateY(-50px);
  transition: all .5s ease-out;

  position: absolute;
  width: 70%;
  top: 10%;
  right: 0;
  text-align: end;
  font-size: var(--textoXL);
  line-height: 1.8;
  font-weight: 600;
  margin: 0 auto;
}

.aboutText.show{
  transform: translateY(0px);
  scale: 1;
  opacity: 1;
}


.imagen {
  transform: translateY(-100px);
  clip-path: inset(0 0 100% 0);
  transition:
    clip-path 2s cubic-bezier(0.5, 0, 0.3, 1),
    transform 2s cubic-bezier(0.7, 0, 0.3, 1),
    background-size 3s cubic-bezier(0.7, 0, 0.3, 1);

  margin-right: auto;
  width: 45%;
  height: 800px;
  background-image: url('assets/Pfp.PNG');
  background-size: 140%;
  background-position: center;
  background-repeat: no-repeat;
    
}

.imagen.show {
  transform: translateY(0);
  clip-path: inset(0 0 0 0);
  
  background-size: 120%;
}





.sabermas {
  border: 5px solid black;
  padding: 5vh;
  font-size: var(--headertext);
  cursor: pointer;
  -webkit-mask: 
    conic-gradient(from 180deg at top 8px right 8px, #0000 90deg,#000 0)
     var(--_i,100%) 0  /200% var(--_i,8px) border-box no-repeat,
    conic-gradient(at bottom 8px left  8px,  #0000 90deg,#000 0)
     0   var(--_i,100%)/var(--_i,8px) 100% border-box no-repeat,
    linear-gradient(#000000) padding-box ;
  transition: .3s, -webkit-mask-position .3s .3s;
}
.sabermas:hover {
  --_i: 100%;
  transition: .3s, -webkit-mask-size .3s .1s;
}

#carretera{
  position: absolute;
  width: 100%;
}
.carretera {
  stroke-dasharray: 1000; /* este valor se sobreescribir치 con JS */
  stroke-dashoffset: 1000;
  animation: dibujarLinea 4s ease-out forwards;
}


/*****************************
********** PROYECTOS      ******
*****************************/

.proyects{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mejoresProyectos{
  position: relative;
  width: 99vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;



}

.mp1, .mp2{
  height: 80%;
  width: 40%;
  cursor: pointer;

  transform: translateY(-100px);
  clip-path: inset(0 0 100% 0);
  scale: 1;
  transition:
    clip-path 1.5s cubic-bezier(0.5, 0, 0.3, 1),
    transform 1.5s cubic-bezier(0.7, 0, 0.3, 1),
    background-size 1.5s cubic-bezier(0.7, 0, 0.3, 1),
    scale .5s ease-in-out
    ;
  border-radius: 20px;



}

.mp1::before, .mp2::before{
  background-color: rgba(0, 0, 0);
  opacity: .55;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  
  border-radius: 20px;

  transition: all 0.3s ease-in-out;
}

.mp1:hover::before, .mp2:hover::before{
  opacity: 0;
}

.mp1.show, .mp2.show{
  transform: translateY(0px);
  clip-path: inset(0 0 0 0);
  background-size: 105%;


}

.mp1:hover, .mp2:hover{
  background-color: black;
  scale: 1.05;
}

.mp1 p, .mp2 p{
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: var(--textoXL);

  position: absolute;
  opacity: 1;
  
  transition: all 0.2s ease-in-out;
}

.mp1:hover p, .mp2:hover p {
  opacity: 0;  /* El texto desaparecer치 al hacer hover */
}


.mp1{

  position: absolute;
  left:7%;
  background-image: url('assets/proyecto1.PNG');
  background-repeat: no-repeat;
  background-size: 115%;

  display: flex;
  align-items: center;
  justify-content: center;
    top: 5%;
}

.mp2{
  position: absolute;
  right: 7%;
  background-image: url('assets/proyecto2.PNG');
  background-repeat: no-repeat;
  background-size: 115%;
  display: flex;
  align-items: center;
  justify-content: center;
  

  bottom: 5%;
}

.proyectosGrid {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 1rem;

}

.proyectbox {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto; /* opcional si quieres centrar contenido dentro */
  border-radius: 10px;

  display: flex;
  justify-content: center; /* centra horizontalmente */
  align-items: center;   
  
  transition: all 0.3s ease-in-out;
}

.otros{
  padding: 2vh;
  font-family: Gothic;
  font-size: var(--titulo);

}


.proyectbox::before{
  
  background-color: rgba(0, 0, 0);
  opacity: .6;
  content: '';
  display: block;
  height: 100%;
  width: 100%;

  transition: all 0.3s ease-in-out; 
}

.proyectbox:hover::before{
  opacity: 0;
}

.proyectbox p{
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: var(--titulo);

  position: absolute;
  
  transition: all 0.2s ease-in-out;
}

.proyectbox:hover p {
  opacity: 0;  /* El texto desaparecer치 al hacer hover */
}

.proyectbox:hover {
  transform: scale(1.05); /* Efecto de zoom al hacer hover */
}


.p1, .p2 , .p3 , .p4, .p5{
  background-size: cover;
  background-position: center;
  overflow: hidden;

  opacity: 0;
  transform: translateY(50px);

  
}

.p1.show{
  opacity: 1;
  transform: translateY(0px);

}

.p2.show{
  opacity: 1;
  transform: translateY(0px);
  
}
.p3.show{
  
  opacity: 1;
  transform: translateY(0px);
}
.p4.show{
  opacity: 1;
  transform: translateY(0px);
}
.p5.show{
  opacity: 1;
  transform: translateY(0px);
}



.p1{
 background-image: url('assets/p1.PNG');
 transition: opacity 0.3s ease-in-out 1.2s,
 transform 0.3s ease-in-out 1.2s;
}
.p2{
  
  background-image: url('assets/su.PNG');
  transition: opacity 0.3s ease-in-out 0.3s,
  transform 0.3s ease-in-out 0.3s;
}
.p3{
  
  background-image: url('assets/calc.png');
  transition: opacity 0.3s ease-in-out 0.6s,
  transform 0.3s ease-in-out 0.6s;
}
.p4{
  
  background-image: url('assets/p2.PNG');
  transition: opacity 0.3s ease-in-out 0.9s,
  transform 0.3s ease-in-out 0.9s;
}

.p5{
  background-image: url('assets/shop.PNG');
  background-size: cover;
  background-position: center;
  transition: opacity 0.3s ease-in-out,
  transform 0.3s ease-in-out;
}

/*****************************
********** CONTACT  ******
*****************************/
.tituloHome{
  background-size: 60%;
}
.contact{
  display: flex;
  margin-top: 200px;
  height: 80vh;
}

.tituloContact{
  background-image: url('https://www.shutterstock.com/image-vector/seamless-abstract-geometric-colorful-pattern-260nw-429818149.jpg');
  font-size: 15rem;
  color: transparent;
  background-clip: text;
  background-size: contain;
  font-weight: bolder;
  background-position: center;

}

.contactTexto{
  font-size: 24px;
}
.form{
  width: 900px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form h2{
  text-align: start;
}

hr{
  color: goldenrod;
  width: 30%;
  margin-bottom: 1vh;
}
.formname{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

input,
textarea {
  width: 100%;
  padding: 0.75rem 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #4a90e2;
  box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.2);
  background-color: #fff;
}

label {
  font-weight: 600;
  display: block;
  margin-bottom: 0.5rem;
}

button {
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3b7bd6;
}

/*****************************
********** DARK / LIGHT THEME******
*****************************/
.border{
  border: 2px solid black;
}
.center{
  justify-content: center;
  align-items: center;
}
.toggle{
  cursor: pointer;
}


body.dark-theme{
  background-color: rgb(62, 65, 62);
  color: white;
}

.dark-theme a {
  color: rgb(255, 255, 255);
}



/*****************************
********** QUERIES ******
*****************************/

@media (max-width: 1920px) {
  .tituloHome{
    background-size: 80%;
  }
  .aboutText{
    top: 20%;
    font-size: 32px;
  }
  .proyectosGrid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 0.85rem;
  
  }
  .proyectosGrid {
    width: 95%;
    display: grid;
  
  }

  .proyectbox {
    width: 400px;
    height: 400px;
  }

  
  .mejoresProyectos{
    width: 90vw;

    

    }
  .mp1, .mp2{
    height: 70%;  
  }
}

@media (max-width: 1700px) {
  .tituloHome{
    background-size: 85%;
  }
  .mp1, .mp2{
    height: 60%;  
  }
}

@media (max-width: 1450px) {
  .tituloHome{
    background-size: cover;
    font-size: 12rem;
  }
  

  .mejoresProyectos{
    flex-direction: column;
    height: auto; 
    justify-content: center;
    align-items: center;
    gap: 2vh;
  
  }
  
  .mp1, .mp2{
    position: relative; /* ya no necesitan absolute */
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    width: 900px;
    height: 900px; /* o el alto que necesites para m칩viles */
    transform: translateY(0);
    clip-path: inset(0 0 0 0);
    background-size: cover;
  }

  .mp1::before, .mp2::before{
    display: none;
  }

  .mp1 p, .mp2 p{
    display: none;
  }

  .mp1 p, .mp2 p {
    position: relative; 
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  #root{
    width: 100%;
  }
  .homeTextDiv{
    width: 90% !important;
  }


  .left{
    width: 30%;
  }

  .mp1, .mp2{
    width: 600px;
    height: 700px;
  }
  .tituloHome{
    font-size: 9rem;
  }

  .about{
    height: auto;
    
  }

  .imagen{
    margin: 0 auto;
  }
  .aboutdiv{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .aboutText{
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
  }

  .form{
    width: 600px;
  }
}

@media (max-width: 730px) {
  .mejoresProyectos{
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  .mejoresProyectos a{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

  }

  .mp1, .mp2{
    width: 100%;
    height: 70vh;
  }
  .tituloHome{
    font-size: calc(5px + 8vh );
  }
  .tituloContact{
    font-size: 10rem;
  }
  .formname{
    flex-direction: column;
    gap: 1vh;
  }
  .homeText{
  
    width: 200px;
    
    
  }
  
  .left{
    width: 200px;
    text-align: start;
    margin-left: 1vh;
  }

  .imagen{
    margin: 0 auto;
    width: 70%;
    height: 60vh ;
  }

  .aboutText{
    font-size: large;
  }
  .mp1, .mp2{
    scale: .8;
  }
  .about{
    height: auto;
  }

  .aboutText{
    text-align: center;
  }
  .form{
    width: 90%;
  }

}

@media (max-width: 425px) {
  .header{
    font-size: 11px;
  }
  .homeText{
    display: none;

  }
  .tituloHome{
    font-size: 50px;
  }
  .left{
    display: block;
  }
  .logo{
    display: none;
  }
}